* {
  font-family: 'Bacasime Antique', serif;
}

page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  padding: 2.5rem;
}

page[size="A4"] {
  width: 21cm;
}
